%header#page-header
  #masthead
    %h1
      = link_to 'Flix', root_path
    %nav
      %p
        = link_to 'Sign Up', signup_path, class: 'button'
        = link_to 'Sign In', signin_path, class: 'button'
